@mixin center-block {
    margin-left: auto;
    margin-right: auto;
}

@mixin box-shadow($shadows...) {
    -moz-box-shadow: $shadows;
    -webkit-box-shadow: $shadows;
    box-shadow: $shadows;
}

@mixin clearfix {
    display: inline-block;
    &:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

@mixin ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin relative {
    position: relative;
}

@mixin trangle($attr: (direction: 'left', color: '#ddd', size: 10px)) {
    $direction: map-get($attr, $key: direction);
    $color: map-get($attr, $key: color);
    $size: map-get($attr, $key: size);
    content: '';
    border: solid $size;
    
    @if $direction=='left' {
        border-color: transparent $color transparent transparent;
    }
    @if $direction=='right' {
        border-color: transparent transparent transparent $color;
    }
    @if $direction=='top' {
        border-color: transparent transparent $color transparent;
    }
    @if $direction=='bottom' {
        border-color: $color transparent transparent transparent;
    }
}